<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rakibulnayeem.mediaide">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HospitalListAdmin"></activity>
        <activity android:name=".AddDoctorByAdmin" />
        <activity android:name=".HospitalList" />
        <activity android:name=".VerifyPhoneNo_2" />
        <activity android:name=".PostEdit" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1372194887865213~2742651593" />

        <activity android:name=".Post" />
        <activity android:name=".ApproveOrganizationList" />
        <activity android:name=".ApproveAmbulanceList" />
        <activity android:name=".DoctorApprove" />
        <activity android:name=".ApproveDoctorList" />
        <activity android:name=".HospitalDoctorsProfile" />
        <activity android:name=".AddDoctorForHospital" />
        <activity android:name=".HospitalsDoctors" />
        <activity android:name=".MyPosts" />
        <activity android:name=".UpdateDonorInfo" />
        <activity android:name=".DonorYouAddedProfile" />
        <activity android:name=".DonorYouAdded" />
        <activity android:name=".AddBbAndHospitals" />
        <activity android:name=".MyOrganizationAccount" />
        <activity android:name=".MyAmbulanceAccount" />
        <activity android:name=".MyDoctorAccount" />
        <activity android:name=".UpdateProfilePicture" />
        <activity android:name=".BloodGroupList" />
        <activity android:name=".LoginWithPhone" />
        <activity android:name=".RegisterWithPhoneNo" />
        <activity android:name=".VerifyPhoneNo" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".DoctorsProfile" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HealthTipsDescriptionProfile" />
        <activity android:name=".AddHealthCare" />
        <activity android:name=".HealthCare" />
        <activity android:name=".FactsDescriptionProfile" />
        <activity android:name=".AddFacts" />
        <activity android:name=".Facts" />
        <activity android:name=".ZillaList" />
        <activity android:name=".SignUp" />
        <activity android:name=".UserFeedback" />
        <activity android:name=".AboutUs" />
        <activity android:name=".AddOrganizations" />
        <activity android:name=".Organizations" />
        <activity android:name=".AddAmbulance" />
        <activity android:name=".Ambulance" />
        <activity android:name=".AddDoctor" />
        <activity android:name=".Doctors" />
        <activity android:name=".AddHospital" />
        <activity android:name=".Hospital" />
        <activity android:name=".UsersProfile" />
        <activity android:name=".AddBloodBank" />
        <activity android:name=".BloodBank" />
        <activity android:name=".AddDonor" />
        <activity android:name=".ChangePP" />
        <activity android:name=".MainActivity" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".SearchActivity" />
    </application>

</manifest>